@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
  display: none;
}

body {
  background-color: rgb(141, 125, 125);
  font-size: 14px;
  color: black;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-top: 5px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-left: 0.625rem;
  width: auto;
}

.nav-link.active {
  color: darkgoldenrod !important; /* Green color */
}

main.container {
  margin-top: 30px;
}

.navbar-collapse {
  justify-content: center;
}

/* Style the navigation links */
.navbar-nav .nav-link {
  color: darkgoldenrod;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 20px;
  text-decoration: none;
  transition: color 0.3s;
}

/* Apply hover effect to the navigation links */
.navbar-nav .nav-link:hover {
  color: darkgoldenrod;
  background-color: rgba(153, 151, 42, 0.2);
  border-radius: 5px;
}

#card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust the spacing between the cards */
}

.card {
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.like-button:hover {
  cursor: pointer;
}

/* Style the footer */
footer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-left: 0.625rem;
  width: auto;
  border-top: 1px solid #dee2e6;
}

/* Center the text in the footer */
footer p {
  text-align: center;
}

/* Add margin to the footer text */
footer p a {
  margin: 0 5px;
  font-size: 18px;
  text-decoration: none;
  color: darkorange;
  font-family: 'Poppins', sans-serif;
}
